<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppGroupIdentifier</key>
	<string>$(APP_GROUP_IDENTIFIER)</string>
	<key>AppPrivacyURL</key>
	<string>$(APP_PRIVACY_URL)</string>
	<key>AppSupportURL</key>
	<string>$(APP_SUPPORT_URL)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>ねこのまど</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>nekowidget</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>jp.nekowidget.app.background-moment-refresh</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>写真アプリの「うちの子」アルバムを更新し、あなたが「思い出に残す」を選んだ届いた写真を保存するため、写真ライブラリへの追加を許可してください。写真を自動で追加することはありません。</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>$(PHOTO_LIBRARY_USAGE_DESCRIPTION)</string>
	<key>PHPhotoLibraryPreventAutomaticLimitedAccessAlert</key>
	<true/>
	<key>PlusStorefrontEnabled</key>
	<string>$(PLUS_STOREFRONT_ENABLED)</string>
	<key>PlusMonthlyProductID</key>
	<string>$(PLUS_MONTHLY_PRODUCT_ID)</string>
	<key>PlusAnnualProductID</key>
	<string>$(PLUS_ANNUAL_PRODUCT_ID)</string>
	<key>PlusBillingClientEnabled</key>
	<string>$(PLUS_BILLING_CLIENT_ENABLED)</string>
	<key>PlusBillingAPIBaseURL</key>
	<string>$(PLUS_BILLING_API_BASE_URL)</string>
	<key>PlusBillingRecoveryEnabled</key>
	<string>$(PLUS_BILLING_RECOVERY_ENABLED)</string>
	<key>PlusWindowSponsorshipClientEnabled</key>
	<string>$(PLUS_WINDOW_SPONSORSHIP_CLIENT_ENABLED)</string>
	<key>SharingAPIBaseURL</key>
	<string>$(SHARING_API_BASE_URL)</string>
	<key>SharingReleaseMode</key>
	<string>$(SHARING_RELEASE_MODE)</string>
	<key>SharingFeatureEnabled</key>
	<string>$(SHARING_FEATURE_ENABLED)</string>
	<key>SharingMediaEnabled</key>
	<string>$(SHARING_MEDIA_ENABLED)</string>
	<key>SharingShareExtensionHandoffEnabled</key>
	<string>$(SHARING_SHARE_EXTENSION_HANDOFF_ENABLED)</string>
	<key>SharingShareExtensionSendEnabled</key>
	<string>$(SHARING_SHARE_EXTENSION_SEND_ENABLED)</string>
	<key>SharingReviewPreviewEnabled</key>
	<string>$(SHARING_REVIEW_PREVIEW_ENABLED)</string>
	<key>SharingModerationKeyID</key>
	<string>$(SHARING_MODERATION_KEY_ID)</string>
	<key>SharingModerationPublicKey</key>
	<string>$(SHARING_MODERATION_PUBLIC_KEY)</string>
	<key>SharingPrivacyURL</key>
	<string>$(SHARING_PRIVACY_URL)</string>
	<key>SharingSupportURL</key>
	<string>$(SHARING_SUPPORT_URL)</string>
	<key>SharingCommunityStandardsURL</key>
	<string>$(SHARING_COMMUNITY_STANDARDS_URL)</string>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
