<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destination</key>
	<string>export</string>
	<key>manageAppVersionAndBuildNumber</key>
	<false/>
	<key>method</key>
	<string>app-store-connect</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>__APP_BUNDLE_ID__</key>
		<string>__APP_PROFILE_UUID__</string>
		<key>__WIDGET_BUNDLE_ID__</key>
		<string>__WIDGET_PROFILE_UUID__</string>
		<key>__SHARE_EXTENSION_BUNDLE_ID__</key>
		<string>__SHARE_PROFILE_UUID__</string>
	</dict>
	<key>signingCertificate</key>
	<string>Apple Distribution</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>__APPLE_TEAM_ID__</string>
</dict>
</plist>
